.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #1C3144 !important;
  font-family: 'K2D', sans-serif !important;
}

h1 {
  font-size: 60px !important;
  color: white !important;
}

h2 {
  font-size: 50px !important;
  color: white !important;
}

h3 {
  font-size: 40px !important;
  color: white !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #FFBA08;
  font-family: 'Keania One';
  justify-content: center !important;
}

.navbar-brand {
  font-size: 35px !important;
}

.join-form {
  margin: 10px;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
}

.input-box {
  background-color: #A2AEBB !important;
  color: black;
  font-size: 20px !important;
}

.join-btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #3F88C5 !important;
  font-size: 20px !important;
  max-width: fit-content;
}

.created-text {
  color: white;
  margin: 10px;
}

.action-code {
  font-weight: bold;
  font-size: 70px;
}

.leaderboard-card {
  min-height: 200px;
  background-color: #A2AEBB !important;
}

.leaderboard-item {
  margin: 5px;
  font-size: 30px;
  background-color: #B74D00 !important;
  color: white !important;
}

.game-card {
  max-width: 200px;
  background-color: #A2AEBB !important;
  font-size: 40px;
  margin: 5px;
}

.available-games {
  max-height: 600px;
}

.game-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}